.navBar{
    grid-area: nav;
}
.friends {
    text-decoration: none;
    color: #333333;
}
.friends::selection{
    background: transparent;
}
.imgFriends{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.nameFriend{
    width: 80px;
    text-overflow: ellipsis ;
    overflow: hidden;
    white-space: nowrap;
}
.navLink{
    text-decoration: none;
    color: #999;
}
.friendsBlock{
    margin: 5px;
}
.box {
    display: grid;
    grid-template-columns: repeat(3,90px);
    margin: 5px 0 10px 0;
    padding: 0 0 10px 0;
    width: 90%;
    min-height: 205px;
    border-bottom: 1px solid #f2f2f2;
}
