*{
    box-sizing: border-box;
}
.error{
    border: 1px solid rgba(218, 34, 68, 0.45) !important;
}
.input{
    width: 200px;
    height: 40px;
    padding: 5px 5px 5px 10px;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    transition: .2s;
}
.input::placeholder{
    color: #b6b6b6;
}
.input:focus{
    transition: .2s;
    outline: none;
    box-shadow: 1px 2px 5px #cccccc;
}
.textArea{
    width: 200px;
    height: 70px;
    padding: 5px 5px 5px 10px;
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    transition: .2s;
    resize: none;
}
.textArea::placeholder{
    color: #b6b6b6;
}
.textArea:focus{
    transition: .2s;
    outline: none;
    box-shadow: 1px 2px 5px #cccccc;
}
.wrapper{
    display: grid;
    position: relative;
    grid-template-columns: 200px 1fr;
    grid-gap: 5px;
    align-items: center;
}
.warningImg{
    display: grid;
    height: 30px;
}
.box {
    width: 200px;
    position: absolute;
    text-align: center;
    margin: 5px 0 0 205px;
}
.wrapper:hover .warnMessage{
    visibility: visible;
    opacity: 1;
    transition: .3s;
}
.warnMessage{
    position: absolute;
    display: grid;
    align-items: center;
    justify-items: center;
    visibility: hidden;
    opacity: 0;
    min-height: 50px;
    min-width: 250px;
    padding: 5px;
    margin: -15px 0 0 40px;
    background: rgba(218, 34, 68, 0.9);
    border-radius: 1px 15px 15px 15px;
    font-size: 12px;
    transition: .3s;
    color: #f2f2f2;
}

.btn{
    width: 200px;
    height: 30px;
    margin-top: 10px;
}



