.profileFeed1 {
    grid-area: feed;
    display: grid;
    justify-items: center;
}
.profileFeed{
    display: grid;
    justify-items: center;
    width: 900px;
    border-bottom: 1px solid #f2f2f2;
}
.addPostSpanBox{
    width: 80%;
    margin-bottom: 10px;
    font-size: 26px;
    color: #828282;
}
.addPostSpanBox span::selection{
    background: transparent;
}
.wrapInput{
    height: 60px;
}

.wrapInputAndIcon{
    position: relative;
    width: 80%;
    height: 60px;
    text-align: center;
}
.inputPost {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    width: 100%;
    height: 50px;
    padding: 5px 60px 5px 20px;
    resize: none;
    transition: 0.3s;
    border-radius: 10px;
    outline: none;
}

.inputPost2:focus, .inputPost:focus{
    box-shadow: 5px 5px 10px -5px rgba(224, 224, 224, 0.9);
}
.inputClipOut{
    visibility: hidden;
    position: fixed;
    left: -1000px;
    top: -1000px;
}
.imgSend, .imgClip {
    width: 30px;
    height: 30px;
}
.imgBox{
    position: absolute;
    line-height: 70px;
    text-align: center;
    top: 0;
    height: 50px;
    width: 45px;
    cursor: pointer;
}

.imgBoxSend{
    right: 5px;
}
.imgBoxClip{
    right: 45px;
}
.posts {
    display: grid;
    width: 80%;
    margin-bottom: 100px;
}
