.user{
    display: grid;
    grid-template-columns: 110px 700px;
    margin-top: 10px;
    border-bottom: 1px solid #f2f2f2;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius:50px;
    margin-left: 10px;
}
.userInfo{
    display: grid;
    height: 100px;
    grid-template-rows: 30px 30px 40px;
    align-items: center;
}
.name, .userStatus{
    line-height: 30px;
}
.userStatus{
    color: #a1a1a1;
    font-size: 14px;
}
.btn{
    display: inline-block;
    width: 150px;
}
.activeNumber{
    font-weight: bold;
    cursor: pointer;
}
.paginatorBox{
    display: grid;
    align-items: center;
    justify-items: center;
}
.number{
    min-width: 400px;
    /*border: 1px solid #999;*/
}
.tripleDots{
    display: inline-block;
    min-width: 40px;
    min-height: 20px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #999;
    margin: 10px 2px 2px 2px;
    background: #f2f2f2;
    border-radius: 4px;
    text-align: center;
}
.numberPage{
    display: inline-block;
    min-width: 49px;
    min-height: 20px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #999;
    margin: 10px 2px 2px 2px;
    background: #f2f2f2;
    border-radius: 4px;
    text-align: center;
}
.numberPage:hover{
    background: #dddddd;
}
.numberPage::selection{
    background: transparent;
}

