.posts {
    display: grid;
    grid-template-rows: 70px 12fr;
    margin-top: 20px;
    transition: .2s;
    margin-bottom: 50px;
}
.modalWindow{
    position: fixed;
    display: grid;
    grid-template-rows: 3fr 5fr 3fr;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -250px;
    width: 800px;
    height: 500px;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
    outline: none;
    background: #f7f7f7;
    color: #333333;
}

.btnModal {
    width: 150px;
    height: 35px;
    margin-left: 30px;
    font-size: 16px;
    color: #333333;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    background: #e0e0e0;
    outline: none;
}
.btnModal:hover{
    background: #bebebe;
    color: #f2f2f2;
}
.close{
    position: fixed;
    right: 30%;
    top: 25%;
    font-size: 22px;
    cursor: pointer;
    overflow: hidden;
}
.textArea {
    box-sizing: border-box;
    height: 300px;
    width: 100%;
    padding: 10px 20px;
    margin-top: 30px;
    font-size: 16px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    resize: none;
    transition: .3s;
}
.textArea:focus{
    box-shadow: 5px 5px 10px -5px rgba(184,184,184,0.8);
    outline: none;
    border-color: #ebebeb;
}
.img{

    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.user{
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
}
.name:hover{
    cursor: pointer;
}
.date{
    font-size: 12px;
    color: rgba(51, 51, 51, 0.78);
}
.headerPost{
    display: grid;
    grid-template-columns: 14fr 1fr;
}
.option{
    text-align: right;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: .2s;

}
.posts:hover .option:hover{
    color: #898989;
}
.btnsPosts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.posts:hover .option{
    color: #333333;
}
.bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100px;
    height: 40px;
}
.btn::after {
    display: inline-block;
    line-height: 25px;
    font-family: icomoon, sans-serif;
    content: '\e901';
    color: #333333;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: .1s;
}
.btn:hover::after{
    color: #898989;
}
.btn:active::after{
    opacity: 0;
    transition: .1s;
    transform: rotate(360deg);

}
.btnA::after{
    font-size: 25px;
    color: rgba(255, 0, 0, 0.79);
}
.btnA:hover::after{
    color: rgba(255, 0, 0, 0.63);
}
.comment::after {
    line-height: 25px;
    font-family: icomoon, sans-serif;
    content: '\e900';
    color: #333333;
    font-size: 25px;
    font-weight: bold;
}
.comment:hover::after{
    color: #898989;
    cursor: pointer;
}
.content{
    border-bottom: 1px solid #f2f2f2;
}
.wrap{
    font-weight: bold;
}
.imgPost{
    border-radius: 5px;
    max-width: 100%;
    max-height: 600px;
    margin-bottom: 10px;
}
.textPost{
    margin: 10px 0px 10px 10px;
    font-size: 16px;
    color: #333333;
}
.commentBlockDontView{
    display: none;
    margin-top: 10px;
}
.commentBlockView{
    display: grid;
    margin-top: 10px;
}
.comments{
    width: 90%;
}
.commentWrapInput{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 670px 1fr;
    justify-items: center;
    align-items: center;
}
.textAreaComment {
    width: 670px;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    height: 35px;
    padding: 5px 20px;
    resize: none;
    transition: 0.3s;
    border-radius: 10px;
    outline: none;
}
.textAreaComment:focus{
    box-shadow: 5px 5px 10px -5px rgba(224, 224, 224, 0.8);
}
.btnSentComment::after{
    font-family: 'icomoon', sans-serif;
    content: '\e903';
    color: #333333;
    font-size: 25px;
    cursor: pointer;

}
.btnSentComment:hover::after{
    color: #898989;
}
